<div id="comments_container" class='col-lg-10 no-side-padding'>
  <% if obj.size < 1 %>
  <div class="well">
    <p class="lead">No comments on this article</p>
  </div>
    
  <% end %>
  <% obj.each do |comment| %>
    <%= render 'comments/comment', comment: comment %>
  <% end %>
</div>
