<% set_title 'Featured articles' %>
<% set_description 'Featured articles written by users on coding solutions and other tips and tricks they learnt.' %>
<h1>Featured articles</h1>

<%= render 'articles', obj: @articles %>

<div class="row">
  <div class="pull-right">
    <%= will_paginate %>
  </div>
</div>