<% set_title 'All articles' %>
<% set_description 'All articles written by users on coding solutions and other tips and tricks they learnt.' %>
<div class="page-header">
  <h1><%=t '.title', :default => Article.model_name.human.pluralize.titleize %></h1>
</div>
<%= render 'articles', obj: @articles %>

<div class="row">
  <div class="pull-right">
    <%= will_paginate %>
  </div>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_article_path,
            :class => 'btn btn-primary' %>
