<div class="page-header">
  <h1><%=t '.title', :default => Article.model_name.human.pluralize.titleize %></h1>
</div>
<%= render 'articles', obj: @articles %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_article_path,
            :class => 'btn btn-primary' %>
