<% content_for :sidebar do %>
  <%= render 'layouts/sidebar_profile', user: @user, show_on_mobile: true, show_bio: true %>
<% end %>
<div class="center">
  <%#= avatar_for @user %>
</div>
<h1 align="center">Welcome to <%= @user.full_name %>'s page</h1>


<%= render 'articles/articles', obj: @articles %>
<% if @articles == nil || @articles.count == 0 %>
  <p class="lead">User has no articles</p>
<% end %>

<div class="row">
  <div class="pull-right">
    <%= will_paginate @articles %>
  </div>
</div>

<%#= render 'followers_modal' %>