<h1>About</h1>
<p>Code I Learn is a site dedicated to the sharing of things our users learn each day. 
  It is our believe that teaching and reviewing what we learnt is the best way to learn things, 
  thus the creation of this site. <br />
  If you learnt something new today, create an account and share it with the rest. <br />
  If you would like to learn what others learnt today, feel free to browse around.</p>