<% if current_user %>
  <h1>Welcome back, <%= current_user.full_name %>!</h1>
<% else %>
  <div class="jumbotron">
    <h1>Welcome to Code I Learn</h1>
    <p class="lead">
      Learnt a new tip or trick today? Discovered new solutions today? Share it with the world on Code I Learn
    </p>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>

<div class="recents row col-md-12">
  <h2>Featured articles</h2>
  <hr />
  <%= render 'articles/articles', obj: @featured_articles %>
</div>

<div class="recents row col-md-12">
  <h2>Recent articles</h2>
  <hr />
  <%= render 'articles/articles', obj: @recent_articles %>
</div>