
.center{
  text-align:center;
}
.no-padding{
 padding: 0px; 
}

.no-side-padding{
  padding-left: 0px;
  padding-right: 0px;
}

.left-padding{
  padding-left: 15px;
}

.fa-star{
  color: blue;
}

.navbar-right li{
  padding: 15px;
  .btn{
    color: #fff !important;
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-right: 15px;
  }
  .btn-default:hover{

  }
}

.description{
  margin-top: 0px;
}

.article-title{
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.5em;
  padding-bottom: 15px;
}

.article-meta-details{
  border-top: 1px solid #eaeaea;
  margin-top: 15px; 
  font-size: 0.9em;
}

.article-body{
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.article-actions{
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.listing{
  list-style: none;
  padding-left: 0;
  display: inline;
}

.user-listing{
  display: inline;
}


.jumbotron{
  background-image: asset-url('jumbo-bg.jpg');
  background-size: cover;
  h1{
    color: white;
  }
  p{
    color: #f2f2f2;
    text-shadow: 1px 1px #000;
  }
}

.badge{
  background-color: #cef6f5;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight:bold;
}

.padding-left-25{
  padding-left:25px;
}

.comment-body{
  font-size: 1.1em;
}